body,
html,
.main-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.info-box {
  display: flex;
  flex-direction: column;
  width: 400px;
  background: #e8f1f9;
  border-radius: 1rem;
  justify-content: center;
  margin-top: 20%;
  padding: 25px;
}
.info-box input {
  background: #ffffff;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}
.info-box input::after {
  background: #ffffff !important;
}
.info-box .first-input {
  margin-top: 25px;
  padding: 12px;
}
.ant-select-selector {
  border-radius: 6px !important;
  border: 0px !important;
  height: 45px !important;
}

.ant-picker {
  width: 100%;
  border-radius: 6px !important;
  border: 0px !important;
  height: 45px !important;
}

.info-box button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: 50px;
  margin-top: 40px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.timer-wrapper {
  font-family: "Open Sans";
  background: #fff6e7;
  padding: 20px 60px;
  z-index: 20;
  top: 0;
  color: #fa8c16;
  font-size: 20px;
  font-weight: 600;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.submission-wrapper {
  font-family: "Open Sans";
  cursor: pointer;
  background: #469975;
  padding: 20px 60px;
  position: fixed;
  bottom: 38px;
  color: #f0fcf5;
  font-size: 20px;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.options-wrapper {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.options {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
.options img {
  width: 150px;
  height: 150px;
}
.right-answers {
  height: 280px;
  width: 280px;
  background: #d9d9d9;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.wrong-answers {
  height: 280px;
  width: 280px;
  background: #d9d9d9;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.average-answers {
  background: #d9d9d9;
  height: 280px;
  width: 280px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.white-colored {
  color: white;
  margin-top: 12px;
}
.report-wrapper {
  text-align: center;
  overflow: auto;
}
.interview-info-wrapper {
  margin: 50px;
}
.interview-info-wrapper table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  color: black;
}
th,
td {
  padding: 10px;
  text-align: left;
}
.page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page_copyright {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 1;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 15px;
  text-align: center;
  box-shadow: 5px -78px 84px 80px rgba(0, 0, 0, 0.1);
}
.ds {
  display: inline;
  font-size: 14px;
  padding-bottom: 2px;
  color: black !important;
  padding-bottom: 8px;
}
.buttons {
  margin-top: 10px;
}
